.landing-page-PC {
  position: relative;
  max-width: 1920px;
  height: 2141px;
  background-color: var(--blanc-100);
  overflow: hidden;
}

.landing-page-PC .text-wrapper {
  position: absolute;
  width: 499px;
  top: 283px;
  left: 711px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--bleauclair-100);
  font-size: 70px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .div {
  position: absolute;
  width: 696px;
  top: 1362px;
  left: 661px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--noir-100);
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .choisissez-votre {
  position: absolute;
  width: 280px;
  top: 1507px;
  left: 271px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--noir-100);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .span {
  font-weight: 700;
}

.landing-page-PC .text-wrapper-2 {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
}

.landing-page-PC .activer-votre-compte {
  position: absolute;
  width: 280px;
  top: 1507px;
  left: 872px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--noir-100);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .g-rer-votre-compte {
  position: absolute;
  width: 280px;
  top: 1507px;
  left: 1483px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--noir-100);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .overlap {
  position: absolute;
  width: 268px;
  height: 50px;
  top: 3377px;
  left: 1563px;
}

.landing-page-PC .text-wrapper-3 {
  position: absolute;
  width: 261px;
  top: 14px;
  left: 7px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--blanc-100);
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page-PC .text-wrapper-4 {
  top: 0;
  left: 0;
  font-size: 30px;
  white-space: nowrap;
  position: absolute;
  width: 261px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--blanc-100);
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .text-wrapper-5 {
  top: 1px;
  left: 7px;
  font-size: 30px;
  white-space: nowrap;
  position: absolute;
  width: 261px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--blanc-100);
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .overlap-group {
  position: absolute;
  width: 268px;
  height: 44px;
  top: 3433px;
  left: 1563px;
}

.landing-page-PC .text-wrapper-6 {
  position: absolute;
  width: 261px;
  top: 14px;
  left: 7px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--blanc-100);
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page-PC .text-wrapper-7 {
  position: absolute;
  width: 261px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--blanc-100);
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page-PC .text-wrapper-8 {
  position: absolute;
  width: 261px;
  top: 1px;
  left: 7px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--blanc-100);
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page-PC .overlap-2 {
  position: absolute;
  width: 271px;
  height: 40px;
  top: 3478px;
  left: 1560px;
}

.landing-page-PC .text-wrapper-9 {
  position: absolute;
  width: 261px;
  top: 14px;
  left: 10px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--blanc-100);
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page-PC .text-wrapper-10 {
  top: 3px;
  left: 10px;
  font-size: 25px;
  white-space: nowrap;
  position: absolute;
  width: 261px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--blanc-100);
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .overlap-3 {
  position: absolute;
  width: 268px;
  height: 44px;
  top: 3519px;
  left: 1563px;
}

.landing-page-PC .termes-conditions {
  top: 6px;
  left: 7px;
  font-size: 25px;
  white-space: nowrap;
  position: absolute;
  width: 261px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--blanc-100);
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .overlap-4 {
  position: absolute;
  width: 147px;
  height: 48px;
  top: 3378px;
  left: 88px;
}

.landing-page-PC .text-wrapper-11 {
  position: absolute;
  top: 0;
  left: 4px;
  font-family: "Inter", Helvetica;
  font-weight: 900;
  color: var(--blanc-100);
  font-size: 39px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .rectangle {
  top: 1px;
  left: 0;
  position: absolute;
  width: 147px;
  height: 47px;
  border-radius: 10px;
  border: 2px solid;
  border-color: var(--blanc-100);
}

.landing-page-PC .p {
  position: absolute;
  width: 689px;
  top: 3564px;
  left: 600px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--blanc-100);
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .overlap-5 {
  position: absolute;
  width: 463px;
  height: 701px;
  top: 457px;
  left: 473px;
  border-radius: 40px;
}

.landing-page-PC .text-wrapper-12 {
  position: absolute;
  width: 245px;
  top: 239px;
  left: 120px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--blanc-100);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page-PC .abonnement {
  display: flex;
  width: 463px;
  height: 701px;
  align-items: flex-start;
  gap: 10px;
  padding: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--blanc-100);
  border-radius: 40px;
  border: 4px solid;
  border-color: var(--noir-100);
}

.landing-page-PC .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.landing-page-PC .frame-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 29px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page-PC .div-wrapper {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #00000080;
}

.landing-page-PC .text-wrapper-13 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-weight: 700;
  color: var(--noir-100);
  font-size: 40px;
  text-align: center;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding: 12px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #00000080;
}

.landing-page-PC .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page-PC .element-mois {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--noir-100);
  font-size: 38px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .text-wrapper-14 {
  color: #58c4ff;
}

.landing-page-PC .text-wrapper-15 {
  color: #000000;
  font-size: 15px;
}

.landing-page-PC .text-wrapper-16 {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--noir-100);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page-PC .frame-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 26px 38px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--noir-100);
  border-radius: 20px;
  overflow: hidden;
}

.landing-page-PC .text-wrapper-17 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--blanc-100);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .frame-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 42px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page-PC .frame-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page-PC .vector {
  position: relative;
  width: 30px;
  height: 21.95px;
}

.landing-page-PC .text-wrapper-18 {
  position: relative;
  flex: 1;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #5c5c5c;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .img {
  position: relative;
  width: 30px;
  height: 22.68px;
}

.landing-page-PC .overlap-6 {
  position: absolute;
  width: 1922px;
  height: 303px;
  top: 1838px;
  left: 0;
}

.landing-page-PC .text-wrapper-19 {
  position: absolute;
  top: 26px;
  left: 92px;
  font-weight: 900;
  color: var(--blanc-100);
  font-size: 39px;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .rectangle-2 {
  top: 28px;
  left: 88px;
  position: absolute;
  width: 147px;
  height: 47px;
  border-radius: 10px;
  border: 2px solid;
  border-color: var(--blanc-100);
}

.landing-page-PC .text-wrapper-20 {
  position: absolute;
  width: 689px;
  top: 214px;
  left: 600px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--blanc-100);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .text-wrapper-21 {
  top: 26px;
  left: 1570px;
  font-size: 20px;
  position: absolute;
  width: 261px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--blanc-100);
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .text-wrapper-22 {
  position: absolute;
  width: 261px;
  top: 82px;
  left: 1570px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--blanc-100);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .text-wrapper-23 {
  top: 130px;
  left: 1570px;
  font-size: 20px;
  position: absolute;
  width: 261px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--blanc-100);
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .termes-conditions-2 {
  top: 174px;
  left: 1570px;
  font-size: 20px;
  position: absolute;
  width: 261px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--blanc-100);
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .group {
  position: absolute;
  width: 1922px;
  height: 303px;
  top: 0;
  left: 0;
}

.landing-page-PC .overlap-group-2 {
  position: relative;
  width: 1920px;
  height: 303px;
  background-color: var(--noir-100);
}

.landing-page-PC .group-2 {
  position: absolute;
  width: 269px;
  height: 178px;
  top: 61px;
  left: 1485px;
}

.landing-page-PC .text-wrapper-24 {
  top: 0;
  left: 0;
  font-size: 20px;
  text-align: right;
  position: absolute;
  width: 261px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--blanc-100);
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .text-wrapper-25 {
  position: absolute;
  width: 261px;
  top: 56px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--blanc-100);
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .text-wrapper-26 {
  top: 104px;
  left: 0;
  font-size: 20px;
  text-align: right;
  position: absolute;
  width: 261px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--blanc-100);
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .termes-conditions-3 {
  top: 148px;
  left: 0;
  font-size: 20px;
  text-align: right;
  position: absolute;
  width: 261px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--blanc-100);
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 4px;
  position: absolute;
  top: 61px;
  left: 174px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid;
  border-color: var(--blanc-100);
}

.landing-page-PC .text-wrapper-27 {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-weight: 900;
  color: var(--blanc-100);
  font-size: 39px;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .ellipse {
  position: absolute;
  width: 825px;
  height: 785px;
  top: 531px;
  left: -481px;
  border-radius: 412.5px/392.5px;
  transform: rotate(-167.33deg);
  filter: blur(4px);
  background: linear-gradient(180deg, rgb(0, 103, 161) 0%, rgb(87, 195, 255) 100%);
}

.landing-page-PC .vector-2 {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 1495px;
  left: 195px;
}

.landing-page-PC .icones-valid {
  position: absolute;
  width: 56px;
  height: 41px;
  top: 1496px;
  left: 789px;
  background-image: url(./img/vector-9.svg);
  background-size: 100% 100%;
}

.landing-page-PC .frame-8 {
  display: flex;
  width: 463px;
  height: 701px;
  align-items: flex-start;
  gap: 10px;
  padding: 50px;
  position: absolute;
  top: 457px;
  left: 985px;
  background-color: var(--blanc-100);
  border-radius: 40px;
  border: 4px solid;
  border-color: var(--noir-100);
}

.landing-page-PC .vector-3 {
  position: absolute;
  width: 43px;
  height: 44px;
  top: 1494px;
  left: 1405px;
}

.landing-page-PC .vector-4 {
  position: absolute;
  width: 43px;
  height: 38px;
  top: 1494px;
  left: 800px;
}


.landing-page-PC .header {
  display: inline-flex;
  align-items: flex-start;
  gap: 970px;
  position: absolute;
  top: 57px;
  left: 80px;
  background-color: transparent;
}

.landing-page-PC .frame-9 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 4px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid;
  border-color: var(--noir-100);
}

.landing-page-PC .text-wrapper-28 {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-weight: 900;
  color: var(--noir-100);
  font-size: 39px;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-PC .frame-10 {
  display: inline-flex;
  align-items: center;
  gap: 120px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page-PC .text-wrapper-29 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000e6;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page-PC .login-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 29px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 40px;
  overflow: hidden;
  border: 5px solid;
  border-color: var(--noir-100);
}

.landing-page-PC .login {
  position: relative;
  width: fit-content;
  margin-top: -5px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--noir-100);
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}