.footer {
    background-color: #000;
    color: #fff;
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.footer-logo {
    margin-bottom: 100px;
    margin-left: 40px;
    /* Ajustez la taille de la police selon vos préférences */
    font-weight: bold;
    width: 95px;
    /* Ajustez la largeur du logo selon vos préférences */
}

.footer-credits {
    margin: auto 0;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: "inter";
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: "inter";
    /* Aligne les éléments à droite */
}

.footer-organisation {
    margin-bottom: 30px;
    font-weight: bold;
    white-space: nowrap;
    font-family: "inter";
}

.footer-abonnement,
.footer-contact,
.footer-termes {
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    font-family: "inter";
    /* Ajoute de l'espace entre les liens */
    white-space: nowrap;
    /* Empêche le texte de se diviser sur plusieurs lignes */
}