header {
    display: flex;
    padding: 1.5rem 4rem;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}

header > nav > a {
    color: #fff;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

header > nav {
    display: flex;
    gap: 4rem;
    align-items: center;
}

header > nav > a:last-child {
    border-radius: 20px;
    padding: 0.5rem 1rem;
    border: solid 2px #fff
}