header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%; /* Utilisez un pourcentage pour un padding responsive */
}

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 1%; /* Espacement entre les éléments du menu, adaptatif en fonction de la largeur de l'écran */
    flex-grow: 1; /* Permet aux liens de la navbar de prendre tout l'espace disponible */
}

.navbar a {
    text-decoration: none;
    font-family: "inter", sans-serif;
    padding: 10px 0; /* Padding vertical pour augmenter la zone cliquable */
    transition: color 0.3s; /* Transition douce pour les changements d'état au survol */
}

.logo-header {
    width: 120px;
    margin-left: 40px;
    margin-top: 20px;
}

.header-accueil {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
    font-family: "inter";
    z-index: 2;
}

.header-accueilnoir {
    color: #000;
    margin-right: 20px;
    text-decoration: none;
    font-family: "inter";
    z-index: 2;
}

.header-abonnement {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
    font-family: "inter";
    z-index: 2;
}
.header-abonnementnoir {
    color: #000;
    margin-right: 20px;
    text-decoration: none;
    font-family: "inter";
    z-index: 2;
}

.header-connexion {
    color: #fff;
    text-decoration: none;
    font-family: "inter";
    z-index: 2;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header-connexionnoir {
    color: #000;
    text-decoration: none;
    font-family: "inter";
    z-index: 2;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2980b9;
}