.section1 {
    background: linear-gradient(352deg, #B2DAFF 3.72%, #FFF 96.43%);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.section1__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.section1__cards {
    display: flex;
    gap: 8rem;
    justify-content: space-between;
}

.section1__about h2 {
    margin: 0;
}

.section1__features > div{
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}


.section1__features > div > ul > li {
    display: flex;
}

.section1__features>div>ul>li>section {
    text-align: center;
}

.section2 {
    background-color: var(--bleuclair100);
    text-align: center;
    padding: 5rem 0;
}

.section2 p {
    margin: 0;
    margin-bottom: 3rem;
}

.section3 {
    padding: 3rem 0 8rem 0;
}

.section2 .convert_button {
    background-color: #fff;
    color: #000;
}

.title_line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.line {
    width: 40px;
    height: 5px;
    background-color: #000;
    color: #000;
}