.titre-abonnement{
    font-family: "inter";
    font-size: 25px;

}

.titre-abonnement2{
    font-family: "inter";
    font-size: 18px;
    font-weight: bold;
}

.titre-abonnement3{
    font-family: "inter";
    font-size: 18px;
}

.abonnement-explication{

}

.abonnement-icones{
    
}