.circle {
    width: 1250px;
    /* Largeur du cercle */
    height: 1250px;
    /* Hauteur du cercle */
    background: radial-gradient(circle, #0067A1, #57C3FF);
    /* Couleur bleue du cercle */
    border-radius: 50%;
    /* Arrondit les coins pour créer un cercle */
    position: absolute;
    /* Positionnement relatif pour permettre le décalage */
    left: 1150px;
    /* Décalage horizontal pour créer l'effet coupé */
    top: -200px;
    /* Décalage vertical pour créer l'effet coupé */
    z-index: -1;
    /* Assurez-vous que le cercle est derrière les autres éléments */
}


.container {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.mockup1 {
    position: absolute;
    left: 78%;
    transform: translateX(-50%);
    bottom: 5%;
    /* Utilisation d'une unité relative (ajustez selon vos besoins) */
    z-index: 2;
    width: 40%;
    /* Utilisation d'une unité relative (ajustez selon vos besoins) */

    top: 3%;
    /* Utilisation d'une unité relative (ajustez selon vos besoins) */
}

/* Media Query pour les écrans de petite taille */
@media screen and (max-width: 768px) {
    .mockup1 {
        width: 80%;
        /* Ajustez la largeur selon vos besoins */
        max-width: none;
        /* Réinitialise la largeur maximale */
        bottom: 10%;
        /* Ajustez la position verticale selon vos besoins */
        top: auto;
        /* Réinitialise la position verticale */
    }
}

.mockup2 {
    position: absolute;
    left: 85%;
    transform: translateX(-50%);
    bottom: 5%;
    /* Utilisation d'une unité relative (ajustez selon vos besoins) */
    z-index: 1;
    width: 40%;
    /* Utilisation d'une unité relative (ajustez selon vos besoins) */

    top: 1%;
    /* Utilisation d'une unité relative (ajustez selon vos besoins) */
}



.mockup3 {
    position: relative;
    left: 650px;
    top: -370px;
    width: 13%;


}

.icone1 {
    position: absolute;
    left: 500px;
    top: 1970px;
    width: 4%;

}

.icone2 {
    position: absolute;
    left: 507px;
    top: 2070px;
    width: 3%;

}

.icone3 {
    position: absolute;
    left: 505px;
    top: 2150px;
    width: 4%;

}

.icone4 {
    position: absolute;
    left: 507px;
    top: 2250px;
    width: 3%;

}

.icone5 {
    position: absolute;
    left: 915px;
    top: 1970px;
    width: 4%;

}

.icone6 {
    position: absolute;
    left: 923px;
    top: 2070px;
    width: 3%;

}

.icone7 {
    position: absolute;
    left: 923px;
    top: 2150px;
    width: 3%;

}

.icone8 {
    position: absolute;
    left: 923px;
    top: 2250px;
    width: 3%;

}