.circle {
    width: 1350px;
    /* Largeur du cercle */
    height: 1250px;
    /* Hauteur du cercle */
    background: radial-gradient(circle, #0067A1, #57C3FF);
    /* Couleur bleue du cercle */
    border-radius: 50%;
    /* Arrondit les coins pour créer un cercle */
    position: absolute;
    /* Positionnement relatif pour permettre le décalage */
    left: 850px;
    /* Décalage horizontal pour créer l'effet coupé */
    top: -400px;
    /* Décalage vertical pour créer l'effet coupé */
    z-index: -1;
    /* Assurez-vous que le cercle est derrière les autres éléments */
}


.container {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.mockup1 {
    position: absolute;
    left: 860px;
    bottom: -300px;
    z-index: 2;
    width: 40%;
    top: 80px;

}

.mockup2 {
    position: absolute;
    left: 950px;
    bottom: -220px;
    z-index: 1;
    width: 35%;
    top: 20px;

}

.mockup3 {
    position: relative;
    top: 50px;
    left: 640px;
    position: center;
    width: 15%;


}