body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.faq-container {
    text-align: center;
}

.faq-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq-button:hover {
    background-color: #2980b9;
}

.faq-answer {
    display: none;
    margin-top: 10px;
}

.faq-answer p {
    margin: 0;
}

.faq-answer.active {
    display: block;
}

.circle {
    width: 300px; /* Largeur du cercle */
    height: 300px; /* Hauteur du cercle */
    background-color: #0099CC; /* Couleur bleue du cercle */
    border-radius: 50%; /* Arrondit les coins pour créer un cercle */
    position: relative; /* Positionnement relatif pour permettre le décalage */
    left: -50px; /* Décalage horizontal pour créer l'effet coupé */
    top: -50px; /* Décalage vertical pour créer l'effet coupé */
  }

  .circle-container {
    width: 200px; /* Largeur du conteneur externe */
    height: 200px; /* Hauteur du conteneur externe */
    overflow: hidden; /* Cache la partie extérieure du cercle */
  }