.hero {
    display: flex;
}


.hero h1 {
    color: var(--bleuclair100);
    margin: 0;
}

.hero span {
    font-size: 5rem;
    color: #000;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.hero > div {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.hero__mockup {
    border-radius: 100%;
    background: linear-gradient(231deg, #0067A1 27.59%, #57C3FF 59.68%);
    padding: 10rem;
    position: relative;
    z-index: 0;
    bottom: 15rem;
    right: -10rem;
}

.hero__mockup img {
    position: relative; 
    z-index: 1;
    
}